:root {
    --evo-appbar-mobile-bg: #E6E6E6;
}

.evolutio-appbar-desktop-container {
    height: 5rem;
}

@media (max-width: 700px) {
    .evolutio-appbar-desktop-container {
        display: none;
    }
}

.evolutio-appbar-background {
    background: var(--wp--preset--color--primary);
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
}

.evolutio-appbar__floating {
    /* Fallback to solid color if color-mix isn't supported */
    background: var(--wp--preset--color--primary);
    backdrop-filter: blur(16px);
    border-radius: 35px;
    position: fixed;
    top: 0.8rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    column-gap: 1.5rem;
    height: 2.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    min-width: 500px;
}

@supports (background: color-mix(in srgb, black 50%, white)) {
    @media (prefers-contrast: no-preference) {
        .evolutio-appbar__floating {
            background: color-mix(in srgb, var(--wp--preset--color--primary) 75%, transparent);
        }
    }
}

.admin-bar .evolutio-appbar__floating {
    top: calc(32px + 0.8rem);
}

@media (max-width: 782px) {
    .admin-bar .evolutio-appbar__floating {
        top: calc(46px + 0.8rem);
    }
}

.evolutio-appbar__nav {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    white-space: nowrap;
}

.evolutio-appbar__link {
    text-decoration: none;
    color: white;
}

.evolutio-appbar__link:hover {
    color: var(--wp--preset--color--accent);
}

.evolutio-appbar__button {
    background: var(--wp--preset--color--accent);
    color: var(--wp--preset--color--accent-orange);
    border: none;
    border-radius: 25px;
    padding: 8px 14px;
    font-size: 1rem;
	font-weight: 500;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.evolutio-appbar__button:hover {
    background: var(--wp--preset--color--accent-2);
}

.evolutio-appbar-mobile-container {
    position: relative;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.75rem;
    background-color: var(--evo-appbar-mobile-bg);
}

@media (max-width: 700px) {
    .evolutio-appbar-mobile-container {
        display: flex;
    }
}

.evolutio-appbar-brand-container {
    display: flex;
    flex-direction: row;
    column-gap: 0.75rem;
    user-select: none;
    align-items: center;
    max-height: 50px;
    font-size: 1.5rem;
    color: var(--wp--preset--color--primary);
    text-decoration: none;
}

#nav-toggle {
    display: none;
}

.evolutio-mobile-nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--evo-appbar-mobile-bg);
    overflow: hidden;
    z-index: 1000;
    max-height: 0;
    interpolate-size: allow-keywords;
    transition: max-height 0.3s ease-out;
}

.evolutio-mobile-nav ul {
    margin: 0 0 1.5rem;
    padding: 0 1.8rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.evolutio-mobile-nav .evolutio-appbar__link {
    text-decoration: none;
    font-size: 1rem;
    color: var(--wp--preset--color--primary);
}

.evolutio-mobile-nav .evolutio-appbar__button {
    text-align: center;
}

#nav-toggle:checked~.evolutio-mobile-nav {
    max-height: 300px;
}

/* Enhanced styles for browsers with interpolate-size support */
@supports (max-height: fit-content) and (interpolate-size: allow-keywords) {
    .evolutio-mobile-nav {
        max-height: 0;
        interpolate-size: allow-keywords;
    }

    #nav-toggle:checked~.evolutio-mobile-nav {
        max-height: fit-content;
    }
}

/* ----- Burger icon animation ----- */

#nav-toggle-label {
    position: relative;
    width: 24px;
    height: 24px;
    padding: 4px;
    cursor: pointer;
}

.line {
    display: block;
    height: 3px;
    width: 24px;
    background: currentColor;
    border-radius: 15px;
    position: absolute;
    transition: background 0s 0s;
}

.line.top,
.line.bottom {
    transition-duration: 0.3s, 0.3s;
    transition-property: top, transform;
}

.line.top {
    top: 4px;
}

.line.middle {
    top: 14px;
}

.line.bottom {
    top: 24px;
}

.line.middle {
    transition-property: opacity, transform;
}

#nav-toggle:checked~#nav-toggle-label .top {
    transform: rotate(45deg);
    top: 14px;
}

#nav-toggle:checked~#nav-toggle-label .middle {
    opacity: 0;
}

#nav-toggle:checked~#nav-toggle-label .bottom {
    transform: rotate(-45deg);
    top: 14px;
}
