.wp-block-evolutio-intro-quote {
	position: relative;
}

.evolutio-quote-block {
	position: relative;
	margin-top: 3rem;
	padding: 20px;
}

.evolutio-quote-content {
	position: relative;
	z-index: 1;
	margin: 0;
	padding: 1.5rem 0 1.5rem 1.5rem;
	font-size: 1.125rem;
	font-style: italic;
	line-height: 2.5rem;
	text-align: center;
}

@media (max-width: 600px) {
	.evolutio-quote-content {
		padding-left: 0;
	}
}

.evolutio-quote-bg {
	z-index: -1;
	position: absolute;
	top: 12%;
	height: 80%;
	max-width: 70%;
	object-fit: contain;
	filter: saturate(0) opacity(0.2);
	scale: 1.5;
	left: calc(-75vw + 600px);
	right: 0;
	margin: auto;

	@media (max-width: 800px) {
		left: 0;
	}

	@media (min-width: 1100px) {
		left: -225px;
	}
}

.evolutio-quote-link {
	display: flex;
	margin-bottom: 5rem;
	justify-content: flex-end;
	column-gap: 0.25rem;
	font-size: 1rem;
	font-weight: 600;
}
