:root {
    --evo-services-color-primary: #092747;
}

.evolutio-services {
    padding: 4rem 12vw;
    background-color: #F4EDE5;
}

.evolutio-services__title {
    margin: 0;
    font-size: 2.5rem;
    line-height: 130%;
    color: var(--evo-services-color-primary);
}

.evolutio-services__description {
    margin: 2rem 0 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4rem;
    white-space: pre-line;
    color: var(--evo-services-color-primary);
    min-height: 2rem;
    max-width: 45rem;
}

.evolutio-services__description textarea.components-textarea-control__input {
    padding: 0;
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4rem;
}

.evolutio-services .block-editor-block-list__layout,
.evolutio-services__innercomponents {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
}

.evolutio-services .evolutio-service-card {
    width: calc((95% - 2rem) / 2);
    max-width: 430px;
}

@media (min-width: 1400px) {
    .evolutio-services .evolutio-service-card {
        width: calc((95% - 4rem) / 3);
    }
}

@media (max-width: 782px) {
    .evolutio-services {
        row-gap: 1rem;
        padding: 3.5rem 2rem;
    }

    .evolutio-services__title {
        font-size: 1.5rem;
    }

    .evolutio-services__description {
        display: none;
    }

    .evolutio-services .block-editor-block-list__layout,
    .evolutio-services__innercomponents {
        margin-top: 2rem;
    }

    .evolutio-services .evolutio-service-card {
        width: 95%;
        max-width: 95%;
    }
}