.evolutio-subservices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem 7vw 3rem;
    justify-content: space-around;
}

@media (max-width: 782px) {
    .evolutio-subservices {
        column-gap: 1rem;
        row-gap: 1rem;
        padding: 2rem 2rem;
    }
}

/* ----- SERVICE CARD ----- */


.evolutio-subservice-card {
    display: flex;
    flex-direction: column;
    width: 17rem;
    box-sizing: border-box;
    border-radius: 25px;
    overflow: hidden;
    background-color: white;
    padding: 1rem;
    color: var(--wp--preset--color--primary);
}

.evolutio-subservice-card__name {
    min-height: 5.8rem;
    margin-bottom: 0.25rem;
    align-content: center;
    font-size: 1.25rem;
    font-weight: 500;
}

.evolutio-subservice-card__description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    line-clamp: 7;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

.evolutio-subservice-card__description p:first-of-type {
    margin-top: 0;
}

.evolutio-subservice-card__readmore {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 1rem 0 0;
    column-gap: 0.25rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--wp--preset--color--accent);
    text-decoration: none;
}

.evolutio-subservice-card__readmore:hover {
    color: #e4941f;
    text-decoration: underline;
}

@media (max-width: 782px) {
    .evolutio-subservice-card {
        width: calc((95% - 2rem) / 2);
    }

    .evolutio-subservice-card__name {
        margin-top: 0;
    }

    .evolutio-subservice-card__readmore {
        flex: 0;
        margin: 0;
    }
}

@media (max-width: 550px) {
    .evolutio-subservice-card {
        width: 95%;
        max-width: 95%;
    }

    .evolutio-subservice-card__name {
        text-align: center;
    }
}

.evolutio-subservice-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.evolutio-subservice-modal__content {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-sizing: border-box;
    max-width: 800px;
    width: 90vw;
    max-height: 90vh;
    overflow: auto;
    text-align: left;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.evolutio-subservice-modal__close {
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.evolutio-subservice-modal__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.evolutio-subservice-modal__description {
    font-size: 1rem;
    line-height: 1.4;
}
