.evolutio-subservices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem 7vw 3rem;
    justify-content: space-around;
}

@media (max-width: 782px) {
    .evolutio-subservices {
        column-gap: 1rem;
        row-gap: 1rem;
        padding: 2rem 2rem;
    }
}

/* ----- SERVICE CARD ----- */


.evolutio-subservice-card {
    display: flex;
    flex-direction: column;
    width: 17rem;
    box-sizing: border-box;
    border-radius: 25px;
    overflow: hidden;
    background-color: white;
    padding: 1rem;
    color: var(--wp--preset--color--primary);
}

.evolutio-subservice-card__name {
    min-height: 5.8rem;
    margin-bottom: 0.25rem;
    align-content: center;
    font-size: 1.25rem;
    font-weight: 500;
}

.evolutio-subservice-card__description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    line-clamp: 7;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

.evolutio-subservice-card__description p:first-of-type {
    margin-top: 0;
}

.evolutio-subservice-card__readmore {
    display: flex;
    justify-content: end;
    margin: 1rem 0 0;
    font-size: 1rem;
}

@media (max-width: 782px) {
    .evolutio-subservice-card {
        width: calc((95% - 2rem) / 2);
    }

    .evolutio-subservice-card__name {
        margin-top: 0;
    }

    .evolutio-subservice-card__readmore {
        flex: 0;
        margin: 0;
    }
}

@media (max-width: 550px) {
    .evolutio-subservice-card {
        width: 95%;
        max-width: 95%;
    }

    .evolutio-subservice-card__name {
        text-align: center;
    }
}

#evolutio-subservice-modal .evolutio-dialog__close {
    position: sticky;
    width: max-content;
    margin-left: auto;
    display: block;
    top: 0;
    transform: translate(1rem, -1rem);
    right: 0;
    height: 0;
}

.evolutio-subservice-modal__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 1.5rem 1rem 0;
}

.evolutio-subservice-modal__description {
    font-size: 1rem;
    line-height: 1.4;
}

@media (max-width: 782px) {
    #evolutio-subservice-modal .evolutio-dialog__close {
        transform: none;
    }
}