.evolutio-customer-reviews {
    padding: 4rem 12vw;
    --swiper-navigation-top-offset: calc(50% - 1.5rem);
    --swiper-theme-color: var(--wp--preset--color--accent);
}

.evolutio-customer-reviews__desktop-title {
    margin: 0 0 1rem;
    font-size: 2.5rem;
    line-height: 130%;
}

.evolutio-customer-reviews__mobile-title {
    display: none;
}

@media (max-width: 700px) {
    .evolutio-customer-reviews__mobile-title {
        display: block;
    }

    .evolutio-customer-reviews__desktop-title {
        display: none;
    }
}

.evolutio-customer-reviews__description {
    max-width: 45rem;
    font-size: 1rem;
    line-height: 1.4rem;
    letter-spacing: 0.02px;
}

.evolutio-customer-reviews__readmore {
    margin: 1.25rem 0 3rem;
    font-size: 1rem;
}

.evolutio-customer-reviews .swiper-slide {
    height: initial;
    margin-bottom: 3rem;
    border: 1px solid #E0E0E0DD;
    border-radius: 25px;
    min-width: 30rem;
    width: 30rem;
    box-sizing: border-box;
    max-width: 100%;
    padding: 1.3rem 3.75rem;
    color: var(--wp--preset--color--primary);
}

@media (max-width: 700px) {
    .evolutio-customer-reviews .swiper-slide {
        min-width: 100%;
        width: 100%;
    }
}

.evolutio-customer-reviews .swiper-pagination-bullet-active {
    background-color: var(--wp--preset--color--accent);
}

.evolutio-customer-reviews .swiper-button-next,
.evolutio-customer-reviews .swiper-button-prev {
    opacity: 0.8;

	svg {
		display: none;
	}
}

.evolutio-customer-review__role {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.evolutio-customer-review__content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    line-clamp: 10;
    overflow: hidden;
    white-space: pre-line;
    line-height: 1.5rem;
    margin: 1.5rem 0;
}

.evolutio-customer-review__author {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.5rem;
    text-align: right;
}
