.evolutio-customer-reviews {
    padding: 4rem 12vw;
}

.evolutio-customer-reviews__desktop-title {
    margin: 2.5rem 0;
    font-size: 2.5rem;
    line-height: 130%;
    color: var(--wp--preset--color--primary);
}

.evolutio-customer-reviews__mobile-title {
    display: none;
}

@media (max-width: 700px) {
    .evolutio-customer-reviews__mobile-title {
        display: block;
    }

    .evolutio-customer-reviews__desktop-title {
        display: none;
    }
}

.evolutio-customer-reviews__description {
    font-size: 1rem;
    line-height: 1.4rem;
}

.evolutio-customer-reviews__readmore {
    display: flex;
    margin: 1.5rem 0 3rem;
    column-gap: 0.25rem;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    color: var(--wp--preset--color--accent);
    text-decoration: none;
}

.evolutio-customer-reviews__readmore:hover {
    color: var(--wp--preset--color--accent-2);
    text-decoration: underline;
}

.evolutio-customer-reviews__reviews {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 0 -12vw;
    padding: 1rem 12vw;
}

.evolutio-customer-reviews .swiper-slide {
    height: initial;
    margin-bottom: 3rem;
    border: 1px solid #E0E0E0DD;
    border-radius: 25px;
    min-width: 30rem;
    width: 30rem;
    box-sizing: border-box;
    max-width: 100%;
    padding: 1.3rem 3.75rem;
    color: var(--wp--preset--color--primary);
}

@media (max-width: 700px) {
    .evolutio-customer-reviews .swiper-slide {
        min-width: 100%;
        width: 100%;
    }
}

.evolutio-customer-reviews .swiper-pagination-bullet-active {
    background-color: var(--wp--preset--color--accent);
}

.evolutio-customer-review__role {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.evolutio-customer-review__content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    line-clamp: 10;
    overflow: hidden;
    white-space: pre-line;
    line-height: 1.5rem;
    margin: 1.5rem 0;
}

.evolutio-customer-review__author {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.5rem;
    text-align: right;
}