.evolutio-memberslist {
    padding: 1rem 7vw 3rem;
}

.evolutio-memberslist>h3 {
    padding: 0 5vw;
}

.evolutio-memberslist-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

@media (min-width: 1300px) {
    .evolutio-memberslist>h3 {
        padding: 0 10vw;
    }
}

@media (max-width: 782px) {
    .evolutio-memberslist-container {
        gap: 1.5rem;
        padding: 2rem 2rem;
        justify-content: flex-start;
    }
}

/* ----- MEMBER CARD ----- */


.evolutio-memberslist-card {
    display: flex;
    flex-direction: column;
    width: 16rem;
    box-sizing: border-box;
    border-radius: 16px;
    overflow: hidden;
    background-color: white;
    color: var(--wp--preset--color--primary);
}

.evolutio-memberslist-card__name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0rem;
    align-items: center;
    height: 3rem;
    margin-top: -1.5rem;
    border-radius: 16px;
    background-color: #E0E0E0;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.2s;
}


.evolutio-memberslist-card:hover .evolutio-memberslist-card__name {
    gap: 0.3rem;
    color: var(--wp--preset--color--accent-2);
}


@media (max-width: 782px) {
    .evolutio-memberslist-card {
        width: calc((95% - 2rem) / 2);
    }
}

@media (max-width: 550px) {
    .evolutio-memberslist-card {
        width: 95%;
        max-width: 95%;
    }
}

.evolutio-memberslist-modal__content {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.evolutio-memberslist-modal__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.evolutio-memberslist-modal__photo {
    width: 135px;
    border-radius: 50%;
    margin-right: 1rem;
}

.evolutio-memberslist-modal__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding-right: 1rem;
}

.evolutio-memberslist-modal__title {
    font-size: 1.5rem;
    font-weight: 600;
}

.evolutio-memberslist-modal__contact {
    padding: 0 1.5rem;
    border-left: 1px solid gray;
}

.evolutio-memberslist-modal__contact>div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0.4rem 0;
}

.evolutio-memberslist-modal__contact svg {
    margin-bottom: -2px;
    color: var(--wp--preset--color--accent);
    width: 1.2em;
}

.evolutio-memberslist-modal__contact a {
    text-decoration: none;
    transition: all 0.2s;
}

.evolutio-memberslist-modal__contact a:hover {
    color: var(--wp--preset--color--accent);
}

.evolutio-memberslist-modal__description,
.evolutio-memberslist-modal__diplomas,
.evolutio-memberslist-modal__expertise {
    margin: 0;
    white-space: pre-line;
    font-size: 1rem;
    line-height: 1.4;
}

.evolutio-memberslist-modal__boldlabel {
    font-weight: 700;
}

@media (max-width: 782px) {

    .evolutio-memberslist-modal__header {
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: 0;
    }

    .evolutio-memberslist-modal__photo {
        width: 30vw;
        min-width: 100px;
    }

    .evolutio-memberslist-modal__info {
        text-align: center;
    }

    .evolutio-memberslist-modal__contact {
        border-left: none;
        padding: 0;
    }
}